* {
    margin: 0 auto;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-repeat:no-repeat;
    background-size: cover;
}

h1 {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ffffff;
    margin-top: 20px;
    margin-bottom: 20px;
}

h2 {
    font-size: 30px;
}

/* h3 {
    color: #ffffff;
    margin-top: 20px;
    display: flex;
    position: absolute;
    bottom: 5px;
} */

h4 {
    color: #ffffff;
    margin-top: 20px;
    font-size: 4rem;
    display: flex;
    justify-content: center;
    margin-top: 100px;
}

.container-frases {
    opacity: 65%;
    height: 20px;
    box-sizing: border-box;
    background-color: #fcf7d7;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 40px;
    padding: 50px;
    border: solid #683e00fd 10px;
}

.container-frases:hover {
    opacity: 100%;
    border: solid #5c3700fd 10px;
    background-color: #ece7bd;
}

.container-data {
    opacity: 65%;
    background-color: #ffffff;
    border-radius: 0px 50px 50px 0px;
    border: solid #1e0d00fd 10px;
    padding: 5px 24px 5px 5px;
    /* width: 300px; */
    text-align: start;
    position: absolute;
    top: 820px;
    overflow: hidden;
}